<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title> {% block pagetitle %} {% endblock pagetitle %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/OIP.jpeg') }}" type="image/jpg">
</head>

<body class="min-h-screen flex flex-col" style="background-image: url('/static/images/green-leaf-plant-18.jpg'); background-size: cover; background-position: center; background-color: rgba(0, 0, 0, 0.5); background-blend-mode: darken;">
    <nav class="flex justify-between items-center px-4 h-[50px] text-white font-semibold bg-transparent bg-opacity-10 backdrop-filter backdrop-blur-lg rounded-lg shadow-lg">
        <div class="flex gap-4 items-center">
            <a href="/" class="{{ 'underline decoration-2 underline-offset-4 text-green-300' if request.path == '/' else '' }}">Home</a>
            <a href="/index" class="{{ 'underline decoration-2 underline-offset-4 text-green-300' if request.path == '/index' else '' }}">Diagnose</a>
            <a href="/supplements" class="{{ 'underline decoration-2 underline-offset-4 text-green-300' if request.path == '/supplements' else '' }}">Supplements</a>
        </div>
    </nav>
    {% block body %}

    {% endblock body %}
    <footer class="flex h-[20px] bg-white justify-center items-center">
        <p class="text-sm text-gray-500">2025 All Right Reserved</p>
    </footer>
</body>
</html>
