{% extends 'base.html' %}
{% block pagetitle %}
Supplement Market
{% endblock pagetitle %}

{% block body %}
<div class="mb-4 p-4">
    <div class="row mb-5 text-center text-white">
        <div class="col-lg-10 mx-auto">
            <h1 class="text-4xl font-bold text-green-300 py-4"><b>Supplements</b></h1>
            <p class="text-lg font-medium">Buy Supplements & Fertilizer at one place</p>
        </div>
    </div>
    
    <div class="grid max-md:grid-cols-2 grid-cols-4 w-full gap-4 max-sm:gap-2">
        {% for index in range(0,supplement_name | length) %}
            {% if index != 4 %}
                <div class="p-5 bg-white flex flex-col max-sm:text-xs max-md:text-sm justify-center rounded-lg h-full">
                    {% if index==3 or index==5 or index==7 or index==11 or index==15 or index==18 or index==20 or
                    index==23 or
                    index==24 or index==25 or index==28 or index==38 %}
                    <h5>Fertilizer<b class="text-green-600"> (Healthy):</b></h5>
                    {% else %}
                    <h5>Supplements<b class="text-red-600"> (Diseased):</b></h5>
                    {% endif %}
                    <br>
                    <img src={{supplement_image[index]}} class="w-52 h-64 max-sm:h-32 max-sm:w-32">
                    <br>
                    <br>
                    <h6>For {{disease[index]}}</h6>
                    <p>{{supplement_name[index]}}</p>
        
                    <a target="_blank" href={{buy[index]}} class="flex mt-2 w-full items-center justify-center h-[30px] text-white font-semibold bg-green-500 rounded-[5px]">
                        Buy Product
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock body %}
